.button {
    background: #ffc107;
    border: 1px solid #e64a19;
    border-radius: 5px;
    padding: 10px;
}
.button:hover {
    background: #e64a19;
    border: 1px solid #e64a19;
    color: #fff;
    text-decoration: none;
}
