header {
    background: rgba(255, 255, 255, 0.82);
    padding: 20px 0;

    .wrapper {
        display: flex;
        justify-content: center;
    }
}
nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }
    li {
        margin: 0 20px;
    }
}
